<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('工资列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>考勤：</label>
                                <input type="text" name="kaoqing"/>
                            </li>
                            <li>
                                <label>结算时间：</label>
                                <input type="text" class="time-input" placeholder="请选择结算时间" name="moneyDay"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">

            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var generaDatas = [[${@dict.getType('sys_user_sex')}]];
        var workFlagDatas = [[${@dict.getType('sys_yes_no')}]];
        var prefix = ctx + "system/wages";

        $(function() {
            var options = {
                url: prefix + "/mylist",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "工资",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: 'id',
                    visible: false
                },
                {
                    field: 'jibenMoney',
                    title: '基本工资'
                },
                {
                    field: 'kaoqing',
                    title: '考勤'
                },
                {
                    field: 'buzhu',
                    title: '补助'
                },
                {
                    field: 'koukuan',
                    title: '扣款'
                },
                {
                    field: 'wxyj',
                    title: '五险一金'
                },
                {
                    field: 'geshui',
                    title: '个税'
                },
                {
                    field: 'shifa',
                    title: '实发'
                },
                {
                    field: 'moneyDay',
                    title: '结算时间'
                }
                ]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>